// Lato font, using only some styles for max page speed.
@import url(http://fonts.googleapis.com/css?family=Lato:300,400)
// Montserrat
// @import url(http://fonts.googleapis.com/css?family=Montserrat:400)
@import _gotham

$font-headings:      'Gotham 1', 'Gotham 2', 'adelle', sans-serif
$font-paragraph:     'lato', 'helvetica neue', sans-serif

h1, h2, h3, h4, h5, h6
  font-family: $font-headings
  font-weight: 700
  margin: 0
  letter-spacing: -0.08rem

=xl_heading
  font-size: 2rem
  line-height: 2.4rem
  margin-bottom: 1.5rem

=lg_heading
  font-size: 1.6rem
  line-height: 2rem
  margin-bottom: 1.2rem

=md_heading
  font-size: 1.3rem
  line-height: 1.6rem
  margin-bottom: 1rem 

=sm_heading
  font-size: 1rem
  margin-bottom: 0.25rem 

=xs_heading
  font-size: 0.85rem
  margin-bottom: 0.25rem 

=xxs_heading
  font-size: 0.7rem
  margin-bottom: 0.25rem 

p
  margin: 0
  margin-bottom: 1rem
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6
    margin-top: 2rem

a
  color: $blue
  text-decoration: none
  &:hover
    text-decoration: underline

.site-nav
  h1
    +sm_heading
    margin-bottom: 0

section.page
  header 
    h1
      +lg_heading
      text-align: center

      +media($phablet)
        +xl_heading

section.home 
  h2
    +md_heading

  h3
    +sm_heading

.site-footer
  h1
    +md_heading 

// Blog

section.blog-index
  h2
    +xxs_heading

  h3, h4
    +sm_heading

section.blog-single 
  .post-header
    h1
      +lg_heading
      word-wrap: break-word
      text-align: center

    .meta
      +xxs_heading

  .post-content
    h1
      +sm_heading
    
    h2
      +xs_heading

    h3
      +xxs_heading
